body{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    width: 100px;
    height: 30px;
    transform: scale(2);
    border: 1px transparent solid;
    border-radius: 7px;
    background: linear-gradient(#1996fc,
    #8ac7f0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
    
}
.button a {
    text-decoration: none;
    text-align: center;
    align-self: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.button:hover{
    background: linear-gradient(#1996fc,
    #8ac7f0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    transform: scale(3);

}